[submodule "dircolors-solarized"]
  path = dircolors-solarized
  url = https://github.com/seebi/dircolors-solarized.git
[submodule "solarized"]
  path = solarized
  url = https://github.com/altercation/solarized.git
[submodule "tmux-colors-solarized"]
  path = tmux-colors-solarized
  url = https://github.com/seebi/tmux-colors-solarized.git
[submodule ".vim/bundle/Vundle.vim"]
  path = .vim/bundle/Vundle.vim
  url = https://github.com/gmarik/Vundle.vim.git
[submodule ".vim/bundle/puppet-syntax-vim"]
  path = .vim/bundle/puppet-syntax-vim
  url = https://github.com/puppetlabs/puppet-syntax-vim.git
[submodule ".vim/bundle/salt-vim"]
  path = .vim/bundle/salt-vim
  url = https://github.com/saltstack/salt-vim.git
[submodule ".vim/bundle/vim-solarized-powerline"]
  path = .vim/bundle/vim-solarized-powerline
  url = https://github.com/stephenmckinney/vim-solarized-powerline.git
[submodule ".vim/bundle/vim-go"]
  path = .vim/bundle/vim-go
  url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/rust.vim"]
  path = .vim/bundle/rust.vim
  url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/csv.vim"]
  path = .vim/bundle/csv.vim
  url = https://github.com/chrisbra/csv.vim.git
[submodule ".vim/bundle/vim-airline-themes"]
  path = .vim/bundle/vim-airline-themes
  url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/vim-airline"]
  path = .vim/bundle/vim-airline
  url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/nerdtree"]
  path = .vim/bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-nerdtree-tabs"]
  path = .vim/bundle/vim-nerdtree-tabs
  url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/syntastic"]
  path = .vim/bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/delimitMate"]
  path = .vim/bundle/delimitMate
  url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/vim-chef"]
  path = .vim/bundle/vim-chef
  url = https://github.com/dougireton/vim-chef.git
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".tmux-themepack"]
	path = .tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
