## Just macOS things... (tm)
.DS_Store
.localized
__MACOSX/
.AppleDouble
.LSOverride
Icon[
]
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.com.apple.timemachine.supported
.PKInstallSandboxManager
.PKInstallSandboxManager-SystemSoftware
.hotfiles.btree
.vol
.file
.disk_label*
lost+found
.HFS+ Private Directory Data[
]

# Claude local-only settings
**/.claude/settings.local.json
