[user]
	email = salvatore@lamendo.la
	name = Salvatore LaMendola
[push]
	default = current
[pull]
	rebase = true
[diff]
	compactionHeuristic = true
[alias]
	pullmodules = !git submodule update --recursive --remote
	fucked = reset --hard
[credential]
	helper = store
[core]
	eol = lf
	excludesfile = ~/.gitignore
[url "ssh://git@heroku.com/"]
	insteadOf = https://git.heroku.com/
