[user]
	email = salvatore@lamendola.me
	name = Salvatore LaMendola
[push]
	default = current
[pull]
	rebase = true
[alias]
	pullmodules = !git submodule update --recursive --remote
[credential]
	helper = store
[core]
	eol = lf
